{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
           
  
  <div class="row">
    <div align= "center" class="large-12 columns">
      <div class="nav">
        <a href="#" class="button">Connect to Students</a>
       	<a href="#" class="button">Book Listings</a>
       	<a href="#" class="button">Our Mission</a>
       	<a href="#" class="radius button right">Contact Us</a>
       	<a href="#" class="radius button right">Make Listing</a>
       	
      </div>
      
 
     
    </div>
  </div>

  
   
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        
            
        <div class="row">
          <div class="large-9 columns">
          
          </div>
          <div class="large-3 columns">
          
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 
    
      <div class="row">
        <div align="center" class="large-6 columns">
          <p >© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <div class="nav">
        
      </div>
        </div>
      </div>
   

    
    
</body>
</html>